/* Stylesheet by Jessica Kane, 2018 */
/* Responsive Table code modified from bl.ocks.org and carries the same license (http://bl.ocks.org/AMDS/4a61497182b8fcb05906) */

:root {
    --map-color: #A0B59F;
    --panel-color: #596F62;
    /*--highlight-color: #368C54;*/
    --highlight-color: #2D7546;
    --text-color: ghostwhite;
    --body-color: #F1FFE7;
}

html, body, #container {
    height: 100%
}

body {
    font-family: 'Hind Madurai', sans-serif;
    /*overflow: hidden;*/
    margin: 0;
    background-color: var(--body-color);
}

hr {
    border: var(--text-color);
    background-color: var(--text-color);
    height: 5px;
    margin-bottom: 25px; 
}

#title-area {
    padding-top: 75px;
    padding-left: 75px;
}


/*


#map-container {
    display: inline-block;
    width: 50%;
    margin-top: 50px;
}

#chart-container {
    display: inline-block;
    width: 50%;
    margin-top: 50px;
}

.map {
    display: inline-block;
}
*/
#container {
    position: relative;
}

#map-container {
    display: inline-block;
    width: 50%;
    height: 100%;
    float: right;
    padding-right: 50px;
}

#data-container {
    display: inline-block;
    width: 35%;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    /*background-color: #3873B2;*/
    background-color: var(--panel-color);
    color: var(--text-color);
}

h1 {
    font-family: 'Francois One', sans-serif;
    /*color: #FFD10C;*/
    /*color: #F9BE00;*/
    color: var(--text-color);
    font-size: 2.5em;
}

.map {
    /*display: inline-block;*/
    display: block;
      margin: auto;
      height: 100%;
}

.counties {
    /*fill: #005580;*/
    /*fill: #160A47;*/
    fill: var(--map-color);
    stroke: white;
}

.labels {
    font-size: .33em;
    fill: var(--panel-color);
}

#Keweenaw-label {
    fill: gray;
}

.instructions{
    font-size: .8em;
}

#animalOrPlantSelect, #viewSelect, #speciesSelect {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.1em;
    background-color: var(--text-color);
}

table {
    display: block;
    /*width: 100%;*/
    height: 500px;
    overflow-y: scroll;
    overflow-x: scroll;
    /*margin:0 auto;
    background: #aaa;
    color: #333;
    text-align: left;
    font-size: 1.4em;*/
}

#species-info {
    background-color: var(--panel-color);
    color: black;
    padding: 5px 25px 5px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#species-info hr {
    border: var(--panel-color);
    background-color: var(--panel-color);
    height: 1px;
}

/*-------------------------TABLE----------------------------*/

/*
* { 
  margin: 0; 
  padding: 0; 
 }
 body { 
   font: 14px/1.4 Georgia, Serif; 
 }
#page-wrap {
  margin: 50px;
}
p {
 margin: 20px 0; 
}
*/

/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
    width: 100%; 
    border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #eee;
    color: black;
}

tr:nth-of-type(even) { 
    background: white;
    color: black;
}

th { 
    /*background: #90A38F;*/
    background: var(--highlight-color);
    /*background: #333; */
    color: white; 
    font-weight: bold; 
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: 3% center;
}
td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

th.des:after {
  content: "\21E9";
}

th.aes:after {
  content: "\21E7";
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }

    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

    /*
    Label the data
    */
    td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block;
    }
}

@media screen and (max-width: 1020px) {
    #data-container {
        width: 100%;
    }
    
    #map-container {
        width: 100%;
        padding: 0px;
    }
}

/*
@media screen and (max-height: 890px) {
    table {
        height: 425px;
    }
}

@media screen and (max-height: 815px) {
    table {
        height: 300px;
    }
}
*/

/* Smartphones (portrait and landscape) ----------- */
/*
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    body { 
        padding: 0; 
        margin: 0; 
        width: 320px; }
    }
*/
/* iPads (portrait and landscape) ----------- */
/*
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body { 
        width: 495px; 
    }
}
*/